<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sanan Inventory | Stok Keluar</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              green: "#3C6255",
              white: "#F5F5F5",
              sage: "#617F75",
              black: "#000000",
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen}"
    >
      <!-- Desktop sidebar -->
      <aside
        class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0"
      >
        <%- include('./partials/sidebar'); %>
      </aside>
      <!-- Mobile sidebar -->
      <!-- Backdrop -->

      <div class="flex flex-col flex-1">
        <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
          <div
            class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300"
          >
            <!-- Search input -->
            <ul class="flex items-center flex-shrink-0 space-x-6"></ul>
          </div>
        </header>

        <main class="h-full pb-16 overflow-y-auto">
          <!-- Remove everything INSIDE this div to a really blank page -->
          <div class="container px-6 mx-auto grid">
            <h2 class="my-6 text-2xl font-semibold text-black">
              Stok Keluar | Input Stok Keluar
            </h2>
            <form action="/barang-keluar" method="post">
              <input
                type="text"
                name="idGudang"
                value="<%=result.id_gudang%>"
                style="display: none"
              />
              <div
                class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
              >
                <div>
                  <label
                    for="namaBarang"
                    class="block mb-2 text-sm font-regular text-gray-900 dark:text-gray-400"
                    >Nama Produk</label
                  >
                  <input
                    type="text"
                    id="namaBarang"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    value="<%=result.nama_barang%>"
                    disabled
                  />
                </div>
                <div>
                  <label
                    for="tglExpired"
                    class="mt-4 block mb-2 text-sm font-regular text-gray-900 dark:text-gray-400"
                    >Tanggal Expired</label
                  >
                  <div class="flex flex-nowrap pb-8">
                    <div class="basis-1/2">
                      <p class="text-black"><%=result.tanggal_expired%></p>
                    </div>
                  </div>
                </div>

                <div>
                  <!-- <label for="tglMasuk" class=" block mb-2 text-sm font-regular text-gray-900 dark:text-gray-400">Tanggal Keluar</label>
                      <div class="flex flex-nowrap pb-8 ">
                        <div class="basis-1/2 "><input type="date" name="tglKeluar"  class="flex-auto w-80  h-10"></div>
                      </div> -->
                </div>

                <div>
                  <label
                    for="Qty"
                    class="block mb-2 text-sm font-regular text-gray-900 dark:text-gray-400"
                    >Qty Saat Ini</label
                  >
                  <input
                    type="number"
                    id="Qty"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    value="<%=result.quantity%>"
                    disabled
                  />
                </div>
                <div>
                  <label
                    for="Qty"
                    class="block mb-2 text-sm font-regular text-gray-900 dark:text-gray-400"
                    >Qty Keluar</label
                  >
                  <input
                    type="number"
                    id="Qty"
                    name="quantity"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required
                  />
                </div>
                <div class="flex mt-6 text-sm">
                  <div>
                    <button
                      type="submit"
                      class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-sage border border-transparent rounded-lg active:bg-green hover:bg-green focus:outline-none focus:shadow-outline-purple"
                    >
                      Stok Keluar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
