<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Laporan Detail</title>
</head>
<body>
    <h1>INI TAMPIL DATA LAPORAN DETAIL</h1>

    <table border="1">
        <thead>
          <tr>
            <th>ID Gudang</th>
            <th>ID Barang</th>
            <th>Nama Barang</th>
            <th>Quantity</th>
            <th>Tanggal Produksi</th>
            <th>Tanggal Kadaluarsa</th>
          </tr>
        </thead>
        <tbody>
            <% tampilLaporan.forEach((data)=> { %>
          <tr>
            <td><%= data.id%></td>
            <td><%= data.id_barang%></td>
            <td><%= data.nama_barang%></td>
            <td><%= data.quantity%></td>
            <td><%= data.tanggal_produksi%></td>
            <td><%= data.tanggal_expired%></td>
          </tr>
          <% }) %> 
        </tbody>
      </table>
</body>
</html>

 -->

<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sanan Inventory | Detail Laporan</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              green: "#3C6255",
              sage: "#617F75",
              white: "#F5F5F5",
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <!-- Desktop sidebar -->
      <aside
        class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0"
      >
        <%- include('./partials/sidebar'); %>
      </aside>
      <!-- Mobile sidebar -->
      <!-- Backdrop -->
      <div class="flex flex-col flex-1 w-full">
        <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
          <div
            class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300"
          >
            <!-- Search input 
            <div class="flex justify-center flex-1 lg:mr-32">
              <div
                class="relative w-full max-w-xl mr-6 focus-within:text-purple-500"
              >
                <div class="absolute inset-y-0 flex items-center pl-2">
                  <svg
                    class="w-4 h-4"
                    aria-hidden="true"
                    fill="#3C6255"
                    viewBox="0 0 20 20"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <input
                  class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
                  type="text"
                  placeholder="Search for projects"
                  aria-label="Search"
                />
              </div>
            </div> -->
            <ul class="flex items-center flex-shrink-0 space-x-6"></ul>
          </div>
        </header>
        <main class="h-full pb-16 overflow-y-auto">
          <div class="container grid px-6 mx-auto">
            <h2
              class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
              Tabel Laporan
            </h2>
            <!-- CTA -->
            <div
              class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
            >
              <div class="pb-8">
                <div class="pb-5">
                  <p class="text-center">Tahun 2023</p>
                </div>
                <div class="w-full overflow-x-auto">
                  <table class="w-full whitespace-no-wrap">
                    <thead>
                      <tr
                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                      >
                        <th class="px-4 py-3">ID</th>
                        <th class="px-4 py-3">Tanggal Produksi</th>
                        <th class="px-4 py-3">ID Produk</th>
                        <th class="px-4 py-3">Nama Produk</th>
                        <th class="px-4 py-3">Kategori</th>
                        <th class="px-4 py-3">Harga Produk</th>
                        <th class="px-4 py-3">Stok Keluar</th>
                      </tr>
                    </thead>
                    <tbody
                      class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                    >
                      <% tampilLaporan.forEach((data)=> { %>
                      <tr class="text-gray-700 dark:text-gray-400">
                        <td class="px-4 py-3">
                          <div class="flex items-center text-sm">
                            <div>
                              <p class="font-semibold"><%= data.id%></p>
                            </div>
                          </div>
                        </td>
                        <td class="px-4 py-3 text-sm">
                          <%= data.tanggal_produksi%>
                        </td>
                        <td class="px-4 py-3 text-sm"><%= data.id_barang%></td>
                        <td class="px-4 py-3 text-sm">
                          <%= data.nama_barang%>
                        </td>
                        <td class="px-4 py-3 text-sm"><%= data.kategori%></td>
                        <td class="px-4 py-3 text-sm"><%= data.harga%></td>
                        <td class="px-4 py-3 text-sm"><%= data.quantity%></td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="flex flex-row-reverse">
              <button
                class="mb-4 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-sage border border-transparent rounded-lg active:bg-green hover:bg-green focus:outline-none focus:shadow-outline-purple"
              >
                <a href="sanan_dbnew (2).sql">Cetak Laporan </a>
              </button>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
